**/eventSchedule.txt
**/schedulerState.txt
**/stbGroups.txt
**/stbDatabase.db
**/commandSequences.txt
**/stbGrid.conf
**/homeDir.txt
**/scheduler.pid
**/dynamicTitle.txt
**/controllerPageOrder.conf
**/controllerRemote.txt
**/sequencesRemote.txt
**/stbData.json
