eventSchedule.txt
schedulerState.txt
stbGroups.txt
stbDatabase.db
commandSequences.txt
homeDir.txt
scheduler.pid
stbData.json
pidsPaused/*
pidsRunning/*
imports/*
exports/*
hostArchitecture.txt
RedRatHubDebug.txt
commandSequences.json
stbGroups.json
eventSchedule.json
